EYQ_API_KEY=
EYQ_API_BASE=https://eyq-incubator.asiapac.fabric.ey.com/eyq/as/api
EYQ_API_VERSION=2023-05-15
EYQ_DEPLOYMENT_NAME=gpt-4o
EYQ_EMBEDDING_DEPLOYMENT=text-embedding-ada-002

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=root
PG_DATABASE=nlp_db
